@import 'node_modules/lets-talk-about--template/styles.styl';

:root {
  --color-theme: #6c6;
  --color-foreground: #000;
  --color-background: #fff;
  --color-vignette: #765;
  --color-section-foreground: #fff;
}
